*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, #0e0e15, #1a1a1d);
    color: #e0e0e0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

h1 {
    color: #3aff7c;
    margin: 0 auto;
    font-size: 24px;
    z-index: 2;
    transform: translate(-130%, -650%);
}

.cadastro{
    color: #3aff7c;
    margin: 0 auto;
    font-size: 23px;
    z-index: 2;
    transform: translate(-75%, -650%);
}

.loginform {
    background-color: #252525;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 2px 1px #3aff7c;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #333;
    border: none;
    border-radius: 8px;
    color: #3aff7c;
    font-size: 16px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #00ffcc; 
}

label{
    color: #3aff7c;
}

button {
    display: flex;
    padding: 5px;
    color: white;
    border-radius: 8px;
    margin: 5px auto;
    background-color: transparent;
    cursor: pointer;
    transition: .7s ease-in;
}

button[disabled]{
    opacity: 0;
    transition: .7s ease-in;
}

button:hover{
    background-color: #00bb3e;
    transition: .3s ease-in;
}

p {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    float: bottom;
    z-index: 2;
}

.loading{
    background: rgba(119, 119, 119, 0.788);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 3em;
    font-weight: bolder;
}